body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #F0F5F9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 2px;
}

header p {
    font-size: 26px;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
}

header p {
    margin-left: 250px;
}

h2, h3 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.7;
}

.links-header {
    display: flex;
    margin-right: 250px;
    padding: 0;
    gap: 50px;
    list-style-type: none;
}

.cabecera {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: #F0F5F9;
}

.referencias {
    background-color: #C9D6DF;
}

.desarrollo {
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}

.info {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.cita {
    display: flex;
    align-items: center;
    width: 860px;
    height: 600px;
    margin: 50px 0;
}

.autor-cita {
    background-color: #52616B;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.registro {
    background-color: #C9D6DF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registro-boton {
    margin: 20px;
}

.registro-boton button {
    padding: 5px;
    border: 1px solid #1E2022;;
    cursor: pointer;
    color: rgb(60, 66, 87);
    background-color: #1E2022;
    color: #F0F5F9;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px;
    min-height: 28px;
}

.registro-cuerpo {
    padding: 20px;
    text-align: center;
}

.registrarse {
    height: 250px;
    width: 620px;
    display: flex;
    background-color: #EEEEEE;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 50px;
}

.registro-boton button:hover {
    background-color: #F0F5F9;
    color: #1E2022;
}

footer {
    background-color: #F0F5F9;
    margin: 0;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.c-izq {
    width: 400px;
    margin: 50px 0;
    font-size: 20px;
}

.c-der img {
    width: 200px;
    border: 5px solid black;
    margin: 30px;
    border-radius: 10px;
}

.info img {
    height: 200px;
    width: 200px;
    border: 4px solid gray; 
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.info img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.c-izq button {
    width: 150px;
    border: 1px solid #1E2022;;
    outline: 0;
    cursor: pointer;
    color: rgb(60, 66, 87);
    background-color: #1E2022;
    color: #F0F5F9;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px;
    min-height: 28px;
}

.c-izq button:hover {
    background-color: #F0F5F9;
    color: #1E2022;
}

blockquote {
    font-size: 26px;
}

cite {
    margin-left: 500px;
}

.referencias h2 {
    margin-top: 50px;
}

.registro h2 {
    margin-top: 50px;
}

.registrarse-cuerpo {
    margin-bottom: 50px;
}